name: Build and Test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Update system
      run: sudo apt update
    - name: Install dependencies
      run: sudo apt install -y mold libasound2-dev libudev-dev
    - name: Build
      run: cargo build
    - name: Test
      run: cargo test
